<header class="header" id="header"
   [class.mini]="isMini">
    <div class="container">
        <carousel-component class="compo" [initialSlide]="2" (onSlideChange)="getStatus($event)">
            <ng-container class="item-carousel">
                <div class="item-carousel" *ngFor="let slide of slides; let i = index">
                    <a routerLink="{{slide.url}}">
                        {{slide.linkDescr}}
                    </a>
                    <img src="{{slide.imgUrl}}" alt="{{slide.title}}">
                </div>
            </ng-container>
        </carousel-component>
    </div>
</header>