.footer{
    background-color: #0a8ea0;
    
    .container{
        padding: 10px 0;
        
        .copyright{
            color: #fff;
            font-size: 18px;
            text-align: center;
        }
    }
}