<section class="section">
    <div class="container">
        <h2>
            Usability
        </h2>
        <img src="" alt="">
        <div class="text-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quo doloribus accusantium doloremque explicabo. Velit dolor cumque, temporibus optio consectetur, quisquam quod, nemo ex unde quae incidunt excepturi!</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, molestias?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illum inventore sapiente ratione minima quibusdam. Sint, minima, asperiores. Totam, explicabo.
        </p>
        </div>
    </div>
</section>