<section class="section">
    <div class="container">
        <h2>
            Donate
        </h2>
        <img src="http://via.placeholder.com/1050x650" alt="">
        <div class="text-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quod unde suscipit, perspiciatis impedit, alias aut nulla numquam et dolores officia. Accusantium atque fugiat sunt autem nulla magnam reiciendis pariatur unde optio!
        </div>
        <a href="" class="link">
            Donate
        </a>
    </div>
</section>