<section class="section">
    <div class="container">
        <h2>
            Get Started
        </h2>
        <img src="http://via.placeholder.com/1050x650" alt="">
        <div class="text-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quod unde suscipit, perspiciatis impedit, alias aut nulla numquam et dolores officia. Accusantium atque fugiat sunt autem nulla magnam reiciendis pariatur unde optio!
        </div>
    <h3>
        Get in Touch
    </h3>
    <app-form [formDataObj]="person"></app-form>
    </div>
</section>